<template id="about-section">
	<div class="content-wrap">
	<section>
		<a class="button" v-b-toggle.collapse1 variant="primary">View mission description</a>
		<b-collapse :open="false" id="collapse1">
			<div class="card">
				<iframe style="width: 100%; height: 2100px; border: 2px dotted red" src="https://docs.google.com/document/d/e/2PACX-1vR5ubBy_Xl2dImZzh-seG5wT9lV8Shb6KAUIWrt6wDM8Sg0NrBQ3hGp_79hAfouGL1BkNN5l2JcB9Uv/pub?embedded=true"></iframe>
			</div>
		</b-collapse>
		<div class="mb-1">
			<a href="#" v-b-toggle.accordion1>2018</a>
			<b-collapse id="accordion1" accordion="my-accordion" visible>
				<div class="card">
					<p class="card-text">
						{{ text }}
					</p>
				</div>
			</b-collapse>
		</div>
		<div class="mb-1">
			<a href="#" v-b-toggle.accordion2>2017</a>
			<b-collapse id="accordion2" accordion="my-accordion">
				<div class="card">
					<p class="card-text">
						{{ text }}
					</p>
				</div>
			</b-collapse>
		</div>
		<div class="mb-1">
			<a href="#" v-b-toggle.accordion3>2016</a>
			<b-collapse id="accordion3" accordion="my-accordion">
				<div class="card">
					<p class="card-text">
						{{ text }}
					</p>
				</div>
			</b-collapse>
		</div>
		<div class="mb-1">
			<a href="#" v-b-toggle.accordion4>2015</a>
			<b-collapse id="accordion4" accordion="my-accordion">
				<div class="card">
					<p class="card-text">
						{{ text }}
					</p>
				</div>
			</b-collapse>
		</div>
		<div class="mb-1">
			<a href="#" v-b-toggle.accordion5>2014</a>
			<b-collapse id="accordion5" accordion="my-accordion">
				<div class="card">
					<p class="card-text">
						{{ text }}
					</p>
				</div>
			</b-collapse>
		</div>
	</section>
	</div>
</template>

<script>
	/* global Vue */
	Vue.component('about-section', {
		template: document.currentScript.ownerDocument.getElementById('about-section').innerHTML,
		data: function() {
			return {
				text: 'At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.'
			};
		}
	});
</script>