
[v-cloak] {
	display: none;
}

html {
	margin-top: 96px;
}

.content {
	min-height: 70vh;
}

.content-wrap {
	padding: 3rem 0rem;
}

.jumbotron {
	background-image: url(../images/operating-room.jpg);
	background-size: cover;
	background-color: #17727d;
	padding: 6rem 2rem;
}

.jumbotron .display-3 {
	font-weight: 500;
}

.navbar {
	min-height: 96px;
	opacity: 0.9;
	box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12), 0px 0px 12px 0px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
	html {
		margin-top: 76px;
	}
	.content-wrap {
		padding: 1.5rem 0rem;
	}
	.jumbotron .display-3 {
		font-size: 2.5rem;
	}
	.navbar {
		padding: 0.5rem 2rem;
		min-height: inherit;
	}
}
